{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	<style>
		::-webkit-scrollbar {
			width: 3px;
			margin: 20px;
		  }
		  
		  ::-webkit-scrollbar-track {
			background: #005734;
			width:3px;
		  }
		  
		  ::-webkit-scrollbar-thumb {
			background: #FFFFFF;
			border-radius: 70px;
			width:20px
		  }
		  
	</style>
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				{% block content %}{% endblock content %}
			</section>
		</div>
	</body>
</html>
