{% extends 'base.html' %}
{% load static tailwind_tags %}

<script>
    console.log({todos})
</script>

{% block content %}
        <div class="w-full mt-10 px-12 grid-flow-col grid h-6">
            {% for task in todos  %}

                <div class="">
                    <div class="flex  flex-row">
                        <div class="px-12 text-green-600 text-5xl">
                        {{task.task}}
                        </div>
                        <div>
                            {{task.time_due}}
                        </div>
    
                    </div>
                    <div class="pt-12">
                        {{task.description}}
                    </div>
                </div>
            {% endfor %}

        </div>
{% endblock content %}
